/**
 * 	Name: editor.css
 *
 *  Styling for TinyMCE Editor
 *
 */


/* List style */
ul.circle-2 { list-style: none; }

ul.circle-2 li { margin-bottom: 5px; }
ul.circle-2 li:last-child { margin-bottom: 0; }

ul.circle-2 li:before {
	position: relative;
	top: -2px;
	display: inline-block;
	width: 4px;
	height: 4px;
	border: 2px solid #1c9bdc;
	border-radius: 50%;
	margin-right: 25px;
	content: "";
}

/* Dropcaps */
p.dropcap,
p.dropcap-square,
p.dropcap-circle {
	display: block !important;
}
p.dropcap::first-letter,
p.dropcap-square::first-letter,
p.dropcap-circle::first-letter {
	float: left !important;
	margin: 15px 10px 0 0 !important;
	font-size: 34px !important;
	line-height: 42px !important;
	color: inherit !important;
}

p.dropcap-square::first-letter {
	margin-top: 5px !important;
	padding: 15px !important;
	background-color: #0084b4 !important;
	color: #ffffff !important;
	font-size: 22px !important;
	line-height: 42px !important;
	text-align: center !important;

}

p.dropcap-circle::first-letter {
	margin-top: 5px !important;
	padding: 15px !important;
	border-radius: 50% !important;
	background-color: #0084b4 !important;
	color: #ffffff !important;
	font-size: 22px !important;
	line-height: 42px !important;
	text-align: center !important;
}

