/**
 * 	Name: woocommerce.css
 *
 */


/* ==========================================================================
   #Woocommerce corrections
   ========================================================================== */

	.woocommerce {  }

	.woocommerce .quantity .qty { width: 10em; padding: 10px; }

	.woocommerce-cart .cart-collaterals .cart_totals table td,
	.woocommerce-cart .cart-collaterals .cart_totals table th {
		border-left: 0 none;
		border-right: 0 none;
		line-height: 2em;
		padding: 10px;
		vertical-align: top;
	}

	.woocommerce table th {
		color: #fff;
	}

	.woocommerce-cart table.cart td.actions .coupon .input-text {
		padding: 7px 6px;
	}

	.address {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			    box-sizing: border-box;
		padding: 30px 20px;
		border: 2px solid #e1e1e1;
		border-radius: 3px;
		margin-bottom: 10px;
	}

	.woocommerce a.add_to_cart_button,
	.woocommerce a.added_to_cart {
		display: inline-block;
		padding: 10px 25px;
		border: 2px solid #0084b4;
		margin: 0 5px 20px 0;
		background-color: #0084b4;
		color: #fff;
		line-height: 18px;
		font-weight: 800;
		letter-spacing: 1px;
		text-decoration: none !important;
		text-transform: uppercase;
		vertical-align: middle;
		cursor: pointer;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}

	.woocommerce a.add_to_cart_button:hover,
	.woocommerce a.added_to_cart:hover {
		background-color: #0084b4;
		color: #fff;
	}

	.woocommerce nav.woocommerce-pagination ul li a,
	.woocommerce nav.woocommerce-pagination ul li span {
		padding: 12px;
	}

	.woocommerce nav.woocommerce-pagination ul {
		border-radius: 2px;
	}

	.woocommerce nav.woocommerce-pagination {
		margin-bottom: 35px;
	}

	.woocommerce .woocommerce-ordering,
	.woocommerce .woocommerce-result-count {
		margin: 0 0 75px;
	}

	.woocommerce #respond input#submit.alt,
	.woocommerce a.button.alt,
	.woocommerce button.button.alt,
	.woocommerce input.button.alt {
		display: inline-block;
		padding: 10px 25px;
		border: 2px solid #0084b4;
		margin: 0 5px 20px 0;
		background-color: #0084b4;
		color: #fff;
		line-height: 18px;
		font-weight: 800;
		letter-spacing: 1px;
		text-decoration: none !important;
		text-transform: uppercase;
		vertical-align: middle;
		cursor: pointer;
		-webkit-transition: all 0.3s;
				transition: all 0.3s;
	}

	.woocommerce #respond input#submit.alt:hover,
	.woocommerce a.button.alt:hover,
	.woocommerce button.button.alt:hover,
	.woocommerce input.button.alt:hover {
		background-color: #0084b4;
	}

	.woocommerce .cart .button,
	.woocommerce .cart input.button {}

	.woocommerce .star-rating {
		height: 1.1em;
		width: 6em;
	}

	.woocommerce .related ul li.product,
	.woocommerce .related ul.products li.product,
	.woocommerce .upsells.products ul li.product,
	.woocommerce .upsells.products ul.products li.product,
	.woocommerce-page .related ul li.product,
	.woocommerce-page .related ul.products li.product,
	.woocommerce-page .upsells.products ul li.product,
	.woocommerce-page .upsells.products ul.products li.product {
		 -webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			    box-sizing: border-box;
	}

	.woocommerce table th { background:#0084b4; }
	.woocommerce .button { background:#0084b4; }

	.woocommerce-MyAccount-navigation ul {
		list-style: none;
	}

	.woocommerce-MyAccount-navigation ul a {}

	.woocommerce ul.products li.product .price del {
		display: inline;
	}

	.woocommerce #respond input#submit.alt.disabled,
	.woocommerce #respond input#submit.alt.disabled:hover,
	.woocommerce #respond input#submit.alt:disabled,
	.woocommerce #respond input#submit.alt:disabled:hover,
	.woocommerce #respond input#submit.alt[disabled]:disabled,
	.woocommerce #respond input#submit.alt[disabled]:disabled:hover,
	.woocommerce a.button.alt.disabled,
	.woocommerce a.button.alt.disabled:hover,
	.woocommerce a.button.alt:disabled,
	.woocommerce a.button.alt:disabled:hover,
	.woocommerce a.button.alt[disabled]:disabled,
	.woocommerce a.button.alt[disabled]:disabled:hover,
	.woocommerce button.button.alt.disabled,
	.woocommerce button.button.alt.disabled:hover,
	.woocommerce button.button.alt:disabled,
	.woocommerce button.button.alt:disabled:hover,
	.woocommerce button.button.alt[disabled]:disabled,
	.woocommerce button.button.alt[disabled]:disabled:hover,
	.woocommerce input.button.alt.disabled,
	.woocommerce input.button.alt.disabled:hover,
	.woocommerce input.button.alt:disabled,
	.woocommerce input.button.alt:disabled:hover,
	.woocommerce input.button.alt[disabled]:disabled,
	.woocommerce input.button.alt[disabled]:disabled:hover{
		background-color: #999;
		border-color: #777;
	}

	.woocommerce #content table.cart td.actions .input-text,
	.woocommerce table.cart td.actions .input-text,
	.woocommerce-page #content table.cart td.actions .input-text,
	.woocommerce-page table.cart td.actions .input-text {
		width: 120px;
	}

	.woocommerce-cart table.cart td.actions .coupon .input-text{
		padding: 5px 10px;
	}
